body{
    margin-top: 7rem;
}

.product-wrapper{
    width: 70%;
    margin: auto;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    place-items: center;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    overflow: hidden;

    &:hover{
        border-radius: 10px 10px 0 0;
    }
}

.card>img{
    width: 15rem;
    height: 14rem;
    border-radius: 10px 10px 0 0;
    
    transition: transform 0.3s ease-out;

    &:hover{
        transform: scale(1.1);
    }
}

.card p{
    margin: 0 1rem;
    margin-top: .5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.card button{
    margin: .8rem 0 1rem 1rem;
    width: 90%;
    border: 1px solid rgb(246, 72, 72);
    background-color: white;
    padding: .5rem 0;
    border-radius: 8px;
    font-size: .9rem;
    font-weight: bolder;
    color: rgb(246, 72, 72);

    &:hover{
        cursor: pointer;
    }
}